html {
	scroll-behavior: smooth;
}

.font-orbitron {
	font-family: "Orbitron", sans-serif;
}

.font-vt323 {
	font-family: "VT323", monospace;
}

.font-vidaloka {
	font-family: "Vidaloka", serif;
}

.text-silver {
	color: #cbcbcb;
}

.w-76 {
	width: 19rem;
}

.slide-indicator {
	background-color: #ffffff;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
}

.carousel-container {
	margin: auto;
	overflow: hidden;
}

.carousel {
	display: flex;
	transition: transform 0.5s ease;
}

.carousel-item {
	flex: 0 0 auto;
	width: 100%;
}

.selected-slide {
	background-color: #000000;
	border-style: solid;
	border-width: 0.2em;
	border-color: #ffffff;
}

.card {
	background-color: #ffffff;
}

.card-context {
	background-color: #000000;
}

#saeg-proj {
	background-image: url("assets/saeg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15em;
	background-color: #ffffff;
}

#ssad-proj {
	background-image: url("assets/156.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15em;
	background-color: #1dcbf2;
}

#inova-proj {
	background-image: url("assets/inova.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15em;
	background-color: #65a603;
}

#devu-proj {
	background-image: url("assets/devu.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15em;
	background-color: #000000;
}

/* Animations */

.animation-rotateup {
	animation-name: rotate-up;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-direction: reverse;
}

.animation-rotatedown {
	animation-name: rotate-down;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-direction: normal;
}

.animation-fadein {
	opacity: 0;
}

.animation-fadein:hover {
	opacity: 100%;
	transition: 0.3s;
}

.animation-fadeoutdown {
	animation-name: fade-out-down;
	animation-duration: 1s;
}

.animation-color {
	background-color: #ffffff;
	transition: 0.3s;
}

.animation-color:hover {
	background-color: #000000;
	border-style: solid;
	border-width: 0.2em;
	border-color: #ffffff;
}

.animation-draw {
	display: inline-block;
	position: relative;
}

.animation-draw:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #cbcbcb;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.animation-draw:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.1em solid #cbcbcb; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 3.5s steps(50, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 300%;
	}
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translate3d(0, 10%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fade-out-down {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(0, 10%, 0);
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #cbcbcb;
	}
}

@keyframes rotate-down {
	from {
	}
	to {
		transform: rotate(180deg);
	}
}

@keyframes rotate-up {
	from {
	}
	to {
		transform: rotate(-180deg);
	}
}
